{% extends "base.html" %}
{% block content %}
<h2>Main Menu</h2>
<p>Welcome to the Signal Processing Toolkit. Select an option below:</p>
<ul>
    <li><a href="{{ url_for('plot_function.plot_function') }}">Plot Function</a></li>
    <li><a href="{{ url_for('fourier.fourier') }}">Fourier Transform Calculator</a></li>
    <li><a href="{{ url_for('convolution.convolution') }}">Convolution</a></li>
    <li><a href="{{ url_for('process_chain.show_chain') }}">Process Chain Plot</a></li>
    <li><a href="{{ url_for('filter_design.filter_design') }}">Filter Design</a></li>
    <li><a href="{{ url_for('training_page.training_menu') }}">Training Modules</a></li>
    <li><a href="{{ url_for('function_definitions.function_definitions') }}">Function Definitions</a></li>
    <li><a href="{{ url_for('transform_table.transform_table') }}">Fourier & Laplace Transform Table</a></li>
    <li><a href="{{ url_for('theory.theory') }}">Theory</a></li>
</ul>
{% endblock %}
